<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <!-- Vincular Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <!-- Banner -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Bienvenido a la Aplicación de Recetas</h1>
            <p class="lead">Encuentra las mejores recetas y compártelas con tus amigos.</p>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <h1 th:inline="text">Hola <span th:remove="tag" sec:authentication="name"></span>!</h1>
            </div>
            <div>&nbsp;</div>
            <a href="/recipes" class="btn btn-primary">Buscar Recetas</a>
        </div>
    </div>

    <!-- Listado de Recetas -->
    <div class="container">
        <h2 class="mb-4">Listado de Recetas más Recientes y Populares</h2>
        <div class="row">
            <!-- Bucle para las recetas -->
            <div th:each="recipe : ${recipes}" class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img th:src="${recipe.imageUrl}" class="card-img-top" alt="Receta">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${recipe.name}"></h5>
                        <p class="card-text" th:text="${recipe.cuisineType}"></p>
                        <a th:href="${recipe.detailUrl}" class="btn btn-primary">Ver Detalle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vincular Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
