<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${recipe.name}">Detalles de la Receta</title>
    <!-- Vincular Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2 th:text="${recipe.name}">Nombre de la Receta</h2>
        <img th:src="${recipe.imageUrl}" class="img-fluid" alt="Receta" style="max-width: 400px;">
        <div class="mt-4">
            <p><strong>Tipo de Cocina:</strong> <span th:text="${recipe.cuisineType}"></span></p>
            <p><strong>Ingredientes:</strong> <span th:text="${recipe.ingredients}"></span></p>
            <p><strong>País de Origen:</strong> <span th:text="${recipe.country}"></span></p>
            <p><strong>Dificultad:</strong> <span th:text="${recipe.difficulty}"></span></p>
        </div>
        <a href="/recipes" class="btn btn-secondary mt-4">Volver a la Página de Inicio</a>
    </div>

    <!-- Vincular Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
